.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
}
.product-card img {
    max-width: 100%;
    border-radius: 5px;
}
.product-card h3 {
    font-size: 18px;
    margin: 5px 0;
}
.product-card p {
    font-size: 14px;
}
.search-container input {
    width: 90%;
    border-color: rgb(97, 97, 253);
}
.search-container button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
