body {
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}
.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-box h2 {
    text-align: center;
    text-transform: lowercase;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.login-box button {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.login-box button:hover {
    background-color: rgb(30, 79, 165);
}
.login-box .links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}
.login-box a {
    text-decoration: none;
    color: #007bff;
}
.error {
    color: red;
    font-size: 13px;
    display: none;
}
input.invalid {
    border-color: red;
}
input.valid {
    border-color: green;
}
