body {
    font-family: arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.search-bar {
    margin-bottom: 20px;
}
.search-bar input,
select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.course-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.course-table th,
.course-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.course-table th {
    background-color: #f4f4f4;
}
button {
    padding: 6px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(30, 79, 165);
}
