body {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.container {
    width: 400px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
input, button {
    padding: 10px;
    margin: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}
